body {

	background-color: #336699;

}

#nav {

	background-color: grey;
	width: 20%;
	top: 0;
	left: 0;
	position: fixed;
	height: 100%;
	text-align: center;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);

}

#nav a {

	color: black;

}

#nav hr {

	border-color: black;

}

#main {

	background-color: white;
	margin-left: 25%;
	margin-top: 20px;
	width: 70%;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);

}

#content {

	padding: 5%;

}
